  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  :root {
    --bg: hsl(210, 20%, 98%);
    --text: hsl(217, 19%, 27%);
    --surface: hsl(0, 0%, 100%);
    --border: hsl(220, 13%, 71%);
    --muted: hsl(220, 25%, 57%);
    --accent: hsl(262, 83%, 58%);
    --accent-clr: hsl(0, 0%, 100%);
    --accent-hover: hsl(263, 70%, 50%);

    color: var(--text);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: geometricPrecision;

    @media (max-width: 1024px) {
      font-size: 16px;
    }

    @media (prefers-color-scheme: dark) {
      --bg: hsl(240, 21%, 15%);
      --text: hsl(240, 32%, 91%);
      --surface: hsl(240, 18%, 20%);
      --border: hsl(240, 14%, 26%);
      --muted: hsl(220, 9%, 46%);
      --accent: hsl(217, 92%, 76%);
      --accent-clr: hsl(240, 21%, 15%);
      --accent-hover: hsl(217, 100%, 83%);
    }
  }

body,button,input,form,dialog{
  transition: all 0.25s ease;
}

  body{
    background-color: var(--bg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  button {
    --btn-bg: var(--accent);
    --btn-clr:var(--accent-clr);
    font:inherit;
    background-color: var(--btn-bg);
    color: var(--btn-clr);
    border: none;
    transition:
      background 0.15s ease,
      transform 0.1s ease;

    &:hover {
      background-color: hsl(from var(--btn-bg) h s clamp(0, calc(l + 10), 80));
    }
  }

  input {
    font:inherit;
    background: var(--surface);
    border: 1px solid var(--border);
    &::placeholder {
      color: var(--muted);
      opacity: 0.9;
    }
  }

  video{
    display: block;
  }